@charset "utf-8";



.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    flex-grow: 1;
    
    width: 100%;
    min-height: 80vh;

    padding-top: 40px;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    background-color: rgba(0, 0, 0, 0.5);
    
    flex-grow: 1;

    justify-content: space-evenly;
    align-content: space-around;
}

.item{
    background-color: rgb(15, 45, 65, 0.7);

    flex-grow: 1;
    flex-shrink: 1;

    margin: 2%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
}

.card{
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    justify-content: center;
    align-content: center;

    max-width: 100%;
    max-height: none;
}

.photo{
    margin-top: 5%;
    flex-grow: 3;
    max-width: 90%;

    justify-self: center;
    align-self: center;
}

@media screen and (min-width: 1000px) {
    .products{
        padding-top: 1%;
    }

    .body-products{
        background-image: url(file:///C:/Projects/santiago_mansilla_compartido/Image/wallpaper.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% auto;
        background-attachment: fixed;
    }

    .item{
        min-height: 500px;
        max-width: 28%;
    }

    .text-size{
        flex-grow: 1;
        font-size: xx-large;
        color: white;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    .text-sty{
        font-family: 'Times New Roman', Times, serif;
        font-size: large;

        color: white;
        text-decoration: none;
    }

    .text-pos{
        padding: 5%;
    }
}

@media screen and (max-width: 999px) {

    .products{
        padding-top: 5%;
    }

    .body-products{
        background-image: url(file:///C:/Projects/santiago_mansilla_compartido/Image/wallpaper.png);
        background-repeat: no-repeat;
        background-position: center, center;
        background-size: auto 100vh;
        background-attachment: fixed;
    }

    .item{
        max-height: 90%;
        max-width: 90%;
    }

    .text-pos{
        padding: 10%;

        align-items: center;
        justify-items: center;
    }

    .text-size{
        flex-grow: 1;
        font-size: 40px;
        color: white;

        align-items: center;
        justify-items: center;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    .text-sty{
        font-family: 'Times New Roman', Times, serif;
        font-size: xx-large;

        color: white;
        text-decoration: none;
    }
}