@charset "utf-8";

.container{
    background-color: rgba(0, 0, 0, 0.5);
}

.js-sty{
    align-self: center;
    justify-self: center;
}

.prodComments{
    padding: 2%;
}
.comItem{
    background-color: rgba(255, 255, 255, 0.596);
}

@media screen and (max-width: 1023px) {
    .body-details{
        background-image: url(file:///C:/Projects/santiago_mansilla_compartido/Image/wallpaper.png);
        background-repeat: no-repeat;
        background-position: center, center;
        background-size: auto 100vh;
        background-attachment: fixed;
    }

    .container{
        padding-top: 90px;

        flex-grow: 1;
    
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-content: center;
    
        min-height: 80vh;
    }
    
    .img-block{
        flex-grow: 3;
    
        display: flex;
        flex-direction: row;
    }
    
    .mini{
        display: flex;
        flex-direction: column;
    
        flex-grow: 1;
    
        max-width: 20%;

        justify-content: space-evenly;

        padding-left: 5%;
    }
    .preview{
        max-width: 100%;
        max-height: 90%;
    }
    
    .img-princ{
        display: flex;
        flex-direction: row;

        flex-grow: 4;

        justify-content: center;
        align-content: center;
        
        padding: 5%;
    }

    .princ-ph{

        max-width: 100%;
        max-height: 100%;
    }
    
    
    .text-block{
        min-height: 20vh;
        display: flex;
        flex-direction: column;

        flex-grow: 2;

        padding: 5%;

        align-items: center;
        justify-content: space-between;
    }

    .text-style{
        flex-grow: 1;
        color: white;
    }

    .title-sty{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 50px;
    }

    .par-sty{
        font-family: 'Times New Roman', Times, serif;
        font-size: xx-large;
    }

    .word-sty{
        text-decoration: none;
        color: white;
    }

    .btn-size{
        display: block;

        height: 5vh;
        width: 25vh;
    }

    .btn-sty{
        border: none;
        border-radius: 50px;
        background-color: rgb(15, 45, 65);
        
        line-height: 5vh;

        color: white;
        font-size: xx-large;
        text-decoration: none;

        cursor: pointer;
    }

    .comName{
        font-size: xx-large;
    }
    .comEmail{
        font-size: large;
    }
    .comText{
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-large;
    }
}

@media screen and (min-width: 1024px) {
    .body-details{
        background-image: url(file:///C:/Projects/santiago_mansilla_compartido/Image/wallpaper.png);
        background-repeat: no-repeat;
        background-position: center, center;
        background-size: 100% auto;
        background-attachment: fixed;
        width: 100vh;
    }

    .infoBlock{
        display: flex;
        flex-direction: row;
    }

    .container{
        padding-top: 60px;

        flex-grow: 1;
    
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-content: center;
    
        min-height: 80vh;
        width: 100vh;
    }

    .img-block{
        flex-grow: 5;
    
        min-width: 60%;

        display: flex;
        flex-direction: row;
    }
    
    .mini{
        display: flex;
        flex-direction: column;
    
        flex-grow: 1;
    
        max-width: 20%;

        justify-content: space-evenly;

        padding-left: 5%;
    }
    .preview{
        max-width: 100%;
        max-height: 90%;
    }
    
    .img-princ{
        display: flex;
        flex-direction: row;

        flex-grow: 4;

        justify-content: center;
        align-content: center;
        
        padding: 5%;
    }

    .princ-ph{

        max-width: 100%;
        max-height: 100%;
    }
    
    
    .text-block{
        display: flex;
        flex-direction: column;

        padding: 5%;

        align-items: center;
        justify-content: space-between;
    }

    .text-style{
        color: white;
    }

    .title-sty{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
    }

    .par-sty{
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
    }

    .btn-size{
        height: 10vh;
        width: 50vh;
    }

    .btn-sty{
        border: none;
        border-radius: 50px;
        background-color: rgb(15, 45, 65);
        
        line-height: 10vh;

        color: white;
        font-size: x-large;
        text-decoration: none;

        cursor: pointer;
    }

    .word-sty{
        text-decoration: none;
        color: white;
    }

    .comName{
        font-size: xx-large;
    }
    .comEmail{
        font-size: large;
    }
    .comText{
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-large;
    }
}